*
!*.*
!/**/

.minecraft/bin/
.minecraft/coremods/
.minecraft/coretweaks/
.minecraft/logs/
.minecraft/crash-logs/
.minecraft/saves/
.minecraft/screenshots/
.minecraft/server-resource-packs/

.minecraft/knownkeys.txt
.minecraft/localconfig.cfg
.minecraft/options.txt
.minecraft/optionsof.txt
.minecraft/optionsshaders.txt
.minecraft/usernamecache.json

.minecraft/journeymap/data/
.minecraft/journeymap/**.log

/natives

instance.cfg