*
!*.*
!/**/

.minecraft/bin/
.minecraft/coremods/
.minecraft/coretweaks/
.minecraft/logs/
.minecraft/crash-logs/
.minecraft/crash-reports/
.minecraft/saves/
.minecraft/screenshots/
.minecraft/server-resource-packs/
.minecraft/journeymap/

.minecraft/knownkeys.txt
.minecraft/localconfig.cfg
.minecraft/options.txt
.minecraft/optionsof.txt
.minecraft/optionsshaders.txt
.minecraft/usernamecache.json
.minecraft/servers.dat

.minecraft/config/fastcraft.ini
.minecraft/config/IC2.ini
.minecraft/config/AppliedEnergistics2/AppliedEnergistics2.cfg
.minecraft/config/AppliedEnergistics2/Facades.cfg
.minecraft/config/AppliedEnergistics2/recipes/items.csv
.minecraft/config/AppliedEnergistics2/VersionChecker.cfg
.minecraft/config/AppliedEnergistics2/CustomRecipes.cfg
.minecraft/config/UniqueNames.txt
.minecraft/config/splash.properties
.minecraft/config/MouseTweaks.cfg
.minecraft/config/InvTweaks.cfg
.minecraft/config/iChunUtil.cfg
.minecraft/config/Treecapitator.cfg

/natives

instance.cfg
